.container {
	max-width: 730px;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.options {
	margin: 15px 0;
}

.options__button { margin: 5px; }

.jumbotron {
  border: 3px dashed transparent;
}

.canvas-wrapper {
  padding: 0!important;
}

.canvas-wrapper,
.canvas-wrapper img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.canvas-wrapper { 
  color: #aaa;
  border-color: #aaa;
  font-size: 20px;
}

.canvas-wrapper.loaded { border-color: transparent; }

.canvas-wrapper:after { 
  content: 'Arraste uma imagem'; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.canvas-wrapper.loaded:after { 
  content: '';
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

form {
  margin: 25px 0;
}